<div class="nav navbar-inverse row">
    <div class="row col-md-4">
        <a class="navbar-brand" href="#/index"><span class="modal-header">AngularJS Exercises</span></a>
    </div>
    <div class="row col-md-8 verticalAlign">
            <a href="#/form" class="btn btn-default">Form</a>
            <a href="#/graphs" class="btn btn-default">Graphs</a>
            <a href="#/infiniteScroll" class="btn btn-default">Infinite Scroll</a>
            <a href="#/spreadSheet" class="btn btn-default">SpreadSheet</a>
            <a href="#/text" class="btn btn-default">Text</a>
    </div>
</div>